/* a {
    text-decoration: none;
}
a:hover {
    color: navy;
} */
* {
    margin:0px;
    padding:0px;
}
html, body {
    height: 100%;
}

.nav-button {
    background-color: lightblue;
    border: none;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    text-align: center;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: grid;
    grid-template-rows: 
        auto
        auto
        auto
        auto;
}
    .main-header {
        background-image: url("images/header_bild.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: local;
        background-color: lightgray;
        min-height: 430px;

        display: grid;
    }
        .main-header-tiles {
            padding: 1em;
            max-width: 60rem;
            margin: 0 auto;
            /* background-color: grey; */
        }
    
    .main-nav {
        /* display: grid;
        grid-auto-flow: column; */
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: aliceblue;
        max-height: 87px;
    }

    .main-nav-tiles {
        float: left;
    }

    .main-nav-wappen {
        float: left;
    }

    .main-nav-wappen a {
        display: block;
        color: grey;
    }

    .main-nav-tiles a {
        display: block;
        color: grey;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .main-nav-tiles a:hover {
        background-color: cyan;
    }

    .main-main {
        

        display: grid;
        grid-auto-flow: column;
    }
        .main-main-tiles {
            padding: 1em;
            max-width: 60rem;
            margin: 0 auto;
            border: 1px solid gray;
            background-color: lightgray;
        }

    .main-footer {
        background-color: gray;
    }